doctype html
html
  head
    include includes/head.pug
    title #{board} - thread    
  body    
    div.container      
      div.col.text-center.mb-2          
        a.h1.d-block(href=`/b/${board}`)=`/b/ - ${board}`
        h2.text-muted=thread._id

      if success && success.length > 0
        div(class="alert alert-success")=success
      if error && error.length > 0
        div(class="alert alert-danger")=error

      div.dropdown.dropdown.mb-2
        button(class="btn btn-success dropdown-toggle", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Reply
        div.dropdown-menu.w-100
          form.px-4.py-3(action=board, method="post")
            input(type="hidden", name="thread_id", value=thread._id)
            div.form-group
              label(for="text") Reply Message:
              textarea(class="form-control" name="text", cols="30", rows="6" placeholder="Enter your reply message", required="required")
            div.form-group
              label(for="delete_password") Delete Password:
              input(class="form-control", type="text", name="delete_password", placeholder="Enter a password", required="required")
            input(class="btn btn-outline-success" type="submit" value="Submit")
      if !thread.error        
        div(class="card border-primary mb-3")
          div(class="card-header d-flex justify-content-between align-items-center flex-wrap")
            div #[strong.text-info Anonymous] #{thread.created_on}
            div.buttons.d-flex
              form.mr-2(action=`${thread._id}?_method=PUT`, method="post")
                input(type="hidden", name="thread_id", value=thread._id)
                input(class="btn btn-outline-warning", type="submit" value="Report")
              div.dropdown 
                button(class="btn btn-outline-danger dropdown-toggle", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Delete
                div.dropdown-menu.dropdown-menu-right
                  form.px-4.py-3(action=`${thread._id}?_method=DELETE`, method="post")
                    input(type="hidden", name="thread_id", value=thread._id)                    
                    div.form-group
                      label(for="delete_password") Delete Password:
                      input(class="form-control", type="text", name="delete_password", placeholder="Enter password", required="required")
                    input(class="btn btn-outline-danger", type="submit" value="Delete")
          div(class="card-body")
            p(class="card-text")=thread.text              
            each reply in thread.replies
              div(class="card border-light mb-3")
                div(class="card-header d-flex justify-content-between align-items-center flex-wrap")
                  div #[strong Anonymous] #{reply.created_on}
                  div.buttons.d-flex
                    form.mr-2(action=`${thread._id}/report?_method=PUT`, method="post")
                      input(type="hidden", name="thread_id", value=thread._id)
                      input(type="hidden", name="reply_id", value=reply._id)
                      input(class="btn btn-outline-warning", type="submit" value="Report")
                    div.dropdown
                      button(class="btn btn-outline-danger dropdown-toggle", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Delete
                      div.dropdown-menu.dropdown-menu-right
                        form.px-4.py-3(action=`${thread._id}/delete?_method=DELETE`, method="post")
                          input(type="hidden", name="thread_id", value=thread._id)                    
                          input(type="hidden", name="reply_id", value=reply._id)                    
                          div.form-group
                            label(for="delete_password") Delete Password:
                            input(class="form-control", type="text", name="delete_password", placeholder="Enter password", required="required")
                          input(class="btn btn-outline-danger", type="submit" value="Delete")
                div(class="card-body")
                  p(class="card-text")=reply.text
    include includes/foot.pug